<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snowman Urgent Care Center</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>☃️ Snowman Urgent Care Center ☃️</h1>
        <p>
            Are you feeling a little droopy? Is the sun a little bit too strong today? Did someone mercilessly steal
            your nose?<br>
            Don't worry, we're here to help.
        </p>
    </header>

    <main>
        <p>
            Your case is now being triaged.<br>
            Thank you for trusting Snowman Urgent Care Center for your snowcare needs!
        </p>
        <a href="/">Go back</a>
    </main>

    <footer>
        <p>🎄 Merry <a href="https://montrehack.ca/">h0h0h0</a>! - @ 2024 SUCC, Inc. All rights reserved. 🎄</p>
    </footer>
</body>

</html>